<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Babylon Sample App using TypeScript">

  <title>Simple 3D Scroller</title>

  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="canvas-container">
    <div id="loader">
      <div class="outer">
        <div class="inner">
          <div class="progress"></div>
          <div class="caption">Загружается</div>
        </div>
      </div>
    </div>
    <canvas id="view"></canvas>
  </div>
</body>

</html>